.linkedin {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    padding: 30px;


}

.linkedin img {
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.linkedin img:hover {
    transform: scale(1.1);
    transition: all 0.5s ease-in-out;
}

.containerdois {
    background-color: black;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 100px 400px;
    padding: 10px;
    height: 90px;
    margin: 5px 50px;
    overflow: hidden;
    display: flex;
}